name: Java CI with Gradle

on:
  push:
    branches: [main, develop, feature/*]

# dorny/test-reporterに必要な権限追加
permissions:
  contents: read
  checks: write
  pull-requests: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: 
      - name: Set up JDK 21
        uses: 
          java-version: "21"
          distribution: "temurin"
          cache: "gradle"

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew build

      - name: 
        run: 
